body {
    font-size: 12px;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
}

div.form_errors {
    color: #cc0000;
}

div.error {
    color: #cc0000;
}

.inner_title {
    FONT-SIZE: 120%; FONT-WEIGHT: bold; COLOR: #323e4b; FONT-FAMILY: Arial, Helvetica, sans-serif;
}
.inner_title2 {
    FONT-SIZE: 100%; FONT-WEIGHT: bold; COLOR: #bd5050; FONT-FAMILY: Arial, Helvetica, sans-serif
}

.zend_form {
    MARGIN-TOP: 10px; 
}
.zend_form form {
    PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px;
}
table.zend_form tr td {
    VERTICAL-ALIGN: top;
    PADDING: 2px 10px;
}

table.zend_form td .normal {
    font-weight: bold;
}
table.zend_form td .required {
    COLOR: #d13b3b;
    font-weight: bold;
}
table.zend_form td .description {
    PADDING-LEFT: 3px; COLOR: #666666;
}
table.zend_form td .errors {
    COLOR: #cc0000;
}


.tab_header {
	BACKGROUND: #e6e6e6;
	FONT-SIZE: 14px; FONT-WEIGHT: bold;
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 5px;
	PADDING-LEFT: 10px; PADDING-TOP: 2px; PADDING-BOTTOM: 2px;
}